// Default css

h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style-type: none;
}

h1,h2,h3{
    font-family: 'Adobe Garamond Pro', 'sans-serif';
}

body{
    font-family: 'Montserrat', 'sans-serif';
}

p{
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
}

input,button:focus{
    box-shadow: none !important;
}

// Common css
.my-50{
    margin: 50px 0;
}

.img>img{
    width: 100%;
    display: block;
}

.trns{
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.p-button{
    background: $secondery-color;
    color: $white;
    padding: 10px 20px;
}

.heading h2{
    font-weight: 700 !important;
    font-size: 36px !important;
    color: $primery-color !important;
}
.heading p{
    font-weight: 400 !important;
    font-size: 18px !important;
    color: $primery-color !important;
    line-height: 25px;
}